In [ ]:
import numpy as np

arr1 = np.array([1, 2, 3, 4, 5]) #1D array
arr2 = np.array([[1, 2, 3], [4, 5, 6]]) #2D array

print("1 Dimensional array", arr1)
print("2 Dimensional array",arr2)

In [ ]:
arr3 =np.arange(12).reshape(3, 4)
arr3

In [ ]:
print(arr1 * 2)
print(arr1 + arr1)

In [ ]:
# matrix operations

mat1 = np.array([[1, 2], [3, 4]])
mat2 = np.array([[5, 6], [7, 8]])

print(np.dot(mat1, mat2))

In [ ]:
# Statistical operations

data = np.random.normal(0, 1, 1000)
print(f'mean: {round(data.mean())}, std: {round(data.std())}')

In [ ]:
# Slicing

print(mat1[1, 1])
print(mat1[:, 1])

In [ ]:
# Importing the Pandas

import pandas as pd

In [ ]:
data = {
    'Name': ['alice', 'bob', 'charlie', 'david'],
    'Age': [25, 30, 35, 40],
    'Salary': [50000, 60000, 70000, 80000]
}

df = pd.DataFrame(data)
df

In [ ]:
# Basic Operations

print(df.head(2))
print(df.describe())

In [ ]:
print(df['Age'].mean())

In [ ]:
df_with_nan = pd.DataFrame({
    'A': [1,2, np.nan, 4],
    'B': [5, np.nan, np.nan, 8 ]
})

print(df_with_nan.fillna(value=0))

In [ ]:
print(df_with_nan.dropna())

In [ ]:
# Grouping and Aggregation

df['Department'] = ['HR', 'Tech', 'Tech', 'HR']
print(df.groupby('Department').mean())
df

In [ ]:
df2 = pd.DataFrame({
    'Name': ['Alice']
})